
      <div class="container-fluid" style="padding:30px;">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <br>
            <%= f.input :name, :required => true, :label => t('text_37') %>
            <%= f.input :email, :required => true %>
            <%= f.input :message, :as => :text,  :label => t('text_38'), :required => true , :input_html => { :cols => 100, :rows => 10} %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              <div class="splashtext">
                <div style="background-color: rgba(50, 217, 85, 0.94);"><%= flash[:notice] %></div>
                <div style="background-color: rgba(217, 46, 47, 0.94);"><%= flash[:error] %></div>
              </div>
              <br>
              <% if I18n.locale == I18n.default_locale %>
              <center><%= f.button :submit, t('send_btn'), :class=> "btn btn-primary btnmsg faa-pulse animated-hover faa-slow" %></center>
              <% else %>
              <center><%= f.button :submit, t('send_btn'), :class=> "btn btn-primary btnmsg faa-pulse animated-hover faa-slow", :locale => 'zh_TW' %></center>
              <% end %>
            </div>
        <% end %>
      </div>
      
