
      <div class="container-fluid" id="contact-container">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
            <%= f.input :name, :required => true, :label => false, :placeholder => t('text_37')%>
            <%= f.input :email, :required => true, :label => false, :placeholder => t('text_47')%>
            <%= f.input :message, :as => :text, :required => true , :label => false, :input_html => { :cols => 50, :rows => 8}, :placeholder => t('text_38') %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              <div class="splashtext" style="margin-top: -10px;margin-bottom: 20px;@include mobile{margin-bottom: 30px;}">
                <div style="background-color: rgba(50, 217, 85, 0.94);"><%= flash[:notice] %></div>
                <div style="background-color: rgba(217, 46, 47, 0.94);"><%= flash[:error] %></div>
              </div>
              <center>
              <% if I18n.locale == I18n.default_locale %>
              <%= f.button :submit, t('send_btn'), :class=> "btn btn-primary btnmsg faa-pulse animated-hover faa-slow gradient raised" %>
              <% else %>

              <%= f.button :submit, t('send_btn'), :class=> "btn btn-primary btnmsg faa-pulse animated-hover faa-slow gradient raised ", :locale => 'zh_TW' %>
              <% end %>
              </center>
              <br>
              <br>
              <div style="text-align: center;letter-spacing: 1.2px;margin:0px 20px 0px 20px;">Or, feel free to email us anytime at contact@noctiflow.com</div>
              <br>
            </div>
        <% end %>
      </div>
