<div style="padding-top: 2%;" class="container-fluid">

  <div class="col-lg-12">
    <div class="carousel">
       <a class="carousel-item responsive-img modal-trigger" href="#modal1"><img class="mhover" src="<%= asset_path( 'portfolio/sachielwater_full.jpg' ) %>"></a>
       <a class="carousel-item responsive-img modal-trigger" href="#modal2"><img class="mhover" src="<%= asset_path( 'portfolio/demo1.jpg' ) %>"></a>
       <a class="carousel-item responsive-img modal-trigger" href="#modal3"><img class="mhover" src="<%= asset_path( 'portfolio/demo2.jpg' ) %>"></a>
       <a class="carousel-item responsive-img modal-trigger" href="#modal4"><img class="mhover" src="<%= asset_path( 'portfolio/demo3.jpg' ) %>"></a>
       <a class="carousel-item responsive-img modal-trigger" href="#modal5"><img class="mhover" src="<%= asset_path( 'portfolio/aaplus_full.jpg' ) %>"></a>
       <a class="carousel-item responsive-img modal-trigger" href="#modal6"><img class="mhover" src="<%= asset_path( 'portfolio/aroma_full.jpg' ) %>"></a>
    </div>
  </div>
</div>

<div style="padding-top: 50px;" class="container">
  <div class="col-lg-12">
    <div class="col-md-1">
    </div>
    <center>
      <div class="col-md-12">
        <img style="max-width: 120px;" src="<%= asset_path( 'portfolio/logos/aromacoffee_logo.png' ) %>">
        <img style="max-width: 120px;" src="<%= asset_path( 'portfolio/logos/sachielwater_logo.png' ) %>">
        <img style="max-width: 200px;" src="<%= asset_path( 'portfolio/logos/aaplus_logo.png' ) %>">
      </div>
    </center>
    <div class="col-md-1">
    </div>
  </div>
</div>


   <!--  ============================ Modal Structure ================================================  -->
   <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 style="color: white;">Sachiel Water Inc
      <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a>
      </h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/sachielwater_full.jpg' ) %>">
    </div>

  </div>

   <div id="modal2" class="modal">
    <div class="modal-content">
      <h4 style="color: white;">Noctiflow Company
      <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a></h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/demo1.jpg' ) %>">
    </div>
  </div>

   <div id="modal3" class="modal">
    <div class="modal-content">
      <h4 style="color: white;">Noctiflow Restaurant
      <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a></h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/demo2.jpg' ) %>">
    </div>
  </div>

   <div id="modal4" class="modal">
    <div class="modal-content">
      <h4 style="color: white;">Noctiflow Bike Shop
      <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a></h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/demo3' ) %>">
    </div>
  </div>

  <div id="modal5" class="modal">
   <div class="modal-content">
     <h4 style="color: white;">AA Plus Restaurant
     <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a></h4>
     <img class="responsive-img" src="<%= asset_path( 'portfolio/aaplus_full.jpg' ) %>">
   </div>
 </div>

  <div id="modal6" class="modal">
   <div class="modal-content">
     <h4 style="color: white;">Aroma Coffee Vancouver
     <a class="pull-right waves-effect waves-light btn modal-action modal-close"><i class="material-icons right">close</i></a></h4>
     <img class="responsive-img" src="<%= asset_path( 'portfolio/aroma_full.jpg' ) %>">
   </div>
 </div>
