<!-- <div id="stars"></div> -->

<div class="portfolio-header pfsplash">NOCTIFLOW</div>
<div class="portfolio-x pfsplash">X</div>
<div class="section" style="padding-top:0">
  <div class="row">
        <div class="col s12 center-align">
          <img class="responsive-img" style="max-width: 120px;" src="<%= asset_path( 'portfolio/logos/aromacoffee_logo.png' ) %>">
          <img class="responsive-img" style="max-width: 120px;" src="<%= asset_path( 'portfolio/logos/sachielwater_logo.png' ) %>">
          <img class="responsive-img" style="max-width: 200px;" src="<%= asset_path( 'portfolio/logos/aaplus_logo.png' ) %>">
        </div>
  </div>
<div style="opacity:0.9;" class="row">
  <div class="col s1">

  </div>
  <div style="padding-top: 5vh;" class="col s10">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><%= t('header_26') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/sachielwater_full.jpg' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://sachielwaterinc.com/"><%= t('header_27') %></a></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><%= t('header_31') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/aaplus_full.jpg' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://www.aaplusrestaurant.com/"><%= t('header_27') %></a></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><%= t('header_32') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/aroma_full.jpg' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://aromacoffee.noctiflow.com/"><%= t('header_27') %></a></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><%= t('header_28') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/demo1.jpg' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://demo1.noctiflow.com/"><%= t('header_27') %></a></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><%= t('header_29') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/demo2.jpg' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://demo2.noctiflow.com/"><%= t('header_27') %></a></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><%= t('header_30') %><i class="material-icons right  faa-float animated-hover faa-fast">arrow_drop_down_circle</i></div>
          <div class="collapsible-body center-align">
          <img class="responsive-img" src="<%= asset_path( 'portfolio/demo3' ) %>">
          <div><a class="invsbtn waves-effect waves-light btn" href="http://demo3.noctiflow.com/"><%= t('header_27') %></a></div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  </div>

    <!-- <div id="stars2"></div> -->





<!--  ============================ Modal Structure ================================================  -->


   <div id="modal3" class="modal">
    <div class="modal-content">
      <h4 style="color: white;"><%= t('header_29') %>
      <a class="xbtn pull-right waves-effect waves-light modal-action modal-close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/demo2.jpg' ) %>">
      <center>
        <a class="invsbtn waves-effect waves-light btn" href="http://demo2.noctiflow.com/"><%= t('header_27') %></a>
      </center>
    </div>
  </div>

   <div id="modal4" class="modal">
    <div class="modal-content">
      <h4 style="color: white;"><%= t('header_30') %>
      <a class="xbtn pull-right waves-effect waves-light modal-action modal-close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></h4>
      <img class="responsive-img" src="<%= asset_path( 'portfolio/demo3' ) %>">
      <center>
        <a class="invsbtn waves-effect waves-light btn" href="http://demo3.noctiflow.com/"><%= t('header_27') %></a>
      </center>
    </div>
  </div>
