<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag '', type: 'image/png' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <style>*{font-family: 'Varela Round', sans-serif;}</style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" style="padding-top:12px;" href="/">
          <img class="img-responsive" style="opacity:0;" src="<%= asset_path( 'portfolio/noctiflow_text_512-g.png' ) %>" width="180vw">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only" style="background:black">Toggle navigation</span>
          <span style="background-color: white" class="icon-bar"></span>
          <span style="background-color: white" class="icon-bar"></span>
          <span style="background-color: white" class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">

            <li class="faa-pulse animated-hover faa-fast"><a href="#about_us">About Us</a></li>
            <li class="faa-pulse animated-hover faa-fast"><a href="#services">Services</a></li>
            <li class="faa-pulse animated-hover faa-fast"><a href="#portfolio">Portfolio</a></li>
            <li class="faa-pulse animated-hover faa-fast"><a href="#team">Team</a></li>
            <li class="faa-pulse animated-hover faa-fast"><a href="#pricing">Pricing</a></li>
            <li class="faa-pulse animated-hover faa-fast"><a href="#contact_us">Contact Us</a></li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



     <div id='stars'></div>


     <div class="jumbotron-fluid">

        <%= yield %>


     </div>


  </body>
</html>
