<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag '', type: 'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <style>*{font-family: 'Varela Round', sans-serif;}</style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s12">
              <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
              <a href="/" class="brand-logo">Noctiflow Technologies</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#about_us">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="https://codepen.io/collection/nbBqgY/">Team</a></li>
                <li><a href="https://codepen.io/collection/nbBqgY/">Pricing</a></li>
                <li><a href="https://codepen.io/collection/nbBqgY/">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#about_us">About Us</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY/">Portfolio</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY/">Team</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY/">Pricing</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY/">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="fixed-action-btn horizontal click-to-toggle">
       <a style="opacity: 0.5;" class="menubtn btn-floating btn-large black waves-effect waves-light">
         <i class="material-icons">menu</i>
       </a>
       <ul>
         <li><a title="Home" href="/" class="btn-floating black"><i class="material-icons">home</i></a></li>
         <li><a title="Font" href="/font" class="btn-floating blue"><i class="material-icons">font_download</i></a></li>
         <li><a title="Image" href="/image" class="btn-floating yellow darken-1"><i class="material-icons">photo</i></a></li>
         <li><a title="Icon" href="/icon" class="btn-floating green"><i class="material-icons">insert_emoticon</i></a></li>
         <li><a title="Button" href="/button" class="btn-floating red"><i class="material-icons">whatshot</i></a></li>
       </ul>
     </div>

     <div id='stars'></div>

     <div id='stars3'></div>
     <div class="jumbotron-fluid">

        <%= yield %>

     </div>

  </body>
</html>
