<!DOCTYPE html>
<html>
  <head>
    <title>Noctiflow Technologies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'nf.ico', type: 'image/png' %>
    <meta name="keywords" content="HTML, CSS, Ruby, Rails, Javascript, WordPress, Web Development, Web Design, Web Application, Vancouver, Richmond, Burnaby, Coding">
    <meta name="description" content="Noctiflow is a web development & design company based in Vancouver, BC. We are focused on modernized, sleek design with ease of accessibility and functionality in mind. Get in touch with us today to get a free quote on your concept.">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <style>*{font-family: 'Varela Round', sans-serif;}</style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" style="padding-top:12px;" href="/">
          <img class="img-responsive animated" style="opacity:0;" src="<%= asset_path( 'portfolio/noctiflow_text_512-g.png' ) %>" width="180vw">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only" style="background:black">Toggle navigation</span>
          <span style="background-color: white" class="icon-bar"></span>
          <span style="background-color: white" class="icon-bar"></span>
          <span style="background-color: white" class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">

            <% if I18n.locale == I18n.default_locale %>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('about'), '#about_us' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('services'), '#services' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('portfolio'), '#portfolio' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('team'), '#team' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('pricing'), '#pricing' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('contact_us'), '#contact_us' %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to '中文', url_for( :locale => 'zh_TW' )  %></li>
            <% else %>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('about'), root_path(:locale => 'zh_TW', anchor: "about_us") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('services'), root_path(:locale => 'zh_TW', anchor: "services") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('portfolio'), root_path(:locale => 'zh_TW', anchor: "portfolio") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('team'), root_path(:locale => 'zh_TW' , anchor: "team") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('pricing'), root_path(:locale => 'zh_TW' , anchor: "pricing") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to t('contact_us'), root_path(:locale => 'zh_TW' , anchor: "contact_us") %></li>
              <li class="faa-pulse animated-hover faa-fast"><%= link_to "English", { :locale=>'en' } %></li>
            <%end%>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




     <!--<div id='stars'></div>-->




        <%= yield %>


        <div class="container-fluid footer" style="visibility: visible;height:30px;">

              <div class="col-lg-12"style="padding-top:10px;">
                <a style="text-decoration: none;" href="/">
                <span class="pull-right" style="font-weight:bold;font-size:13px;letter-spacing: 1px; color: #d1c092; height: 30px;">©<%= Time.now.strftime("%Y") %> NOCTIFLOW
                </span>
                </a>
              </div>

          </div>


  </body>
</html>
